.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.penalty__main {
    width: min(1200px, 85vw);
    margin: auto;
}

.penalty {
    border: 1px solid black;
}

.penalty > .penalty__info {
    display: none;
}

.penalty.open > .penalty__info {
    display: block;
}

.penalty__header {
    border-bottom: 1px solid black;
}

.penalty__padding {
    padding-inline: 30px;
}